<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/png" href="../img/icon.png"/>
    <title>Watch Snooker</title>

    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/watchsnooker.css" rel="stylesheet">
  </head>
  <body>
    <div class="container content">
      <div class="row" id="top"></div>
      <div class="container-fluid well news-container">
      	<h1 class="text-center">Latest Videos</h1>
      	
      	<div class="row">
      		<div class="col-md-3"></div>
      		<div class="col-md-6">
      			<table class="table table-striped">
					<tr>
						<th id="th-news-video-name">Video</th>
            <th class="text-center">Duration</th>
						<th class="text-center">Watch</th>
					</tr>
					<tr>
						<td>Ronnie O'Sullivan v Mark Williams - Masters 2016</td>
            <td class="text-center">2h37m</td>
						<td class="news-watch-icon text-center"><a href="#"><span class="glyphicon glyphicon-play news-watch-icon" aria-hidden="true"></span></a></td>
					</tr>
					<tr>
						<td>Judd Trump v Barry Hawkins - Masters 2016</td>
            <td class="text-center">2h51m</td>
						<td class="news-watch-icon text-center"><a href="#"><span class="glyphicon glyphicon-play news-watch-icon" aria-hidden="true"></span></a></td>
					</tr>
					<tr>
						<td>Judd Trump v Neil Robertson - Masters 2016</td>
            <td class="text-center">3h29m</td>
						<td class="news-watch-icon text-center"><a href="#"><span class="glyphicon glyphicon-play news-watch-icon" aria-hidden="true"></span></a></td>
					</tr>
					<tr>
						<td>Neil Robertson v Marco Fu - Masters 2016</td>
            <td class="text-center">1h50m</td>
						<td class="news-watch-icon text-center"><a href="#"><span class="glyphicon glyphicon-play news-watch-icon" aria-hidden="true"></span></a></td>
					</tr>
					<tr>
						<td>Ronnie O'Sullivan Fastest Maximum Break In Snooker History</td>
            <td class="text-center">5m20s</td>
						<td class="news-watch-icon text-center"><a href="#"><span class="glyphicon glyphicon-play news-watch-icon" aria-hidden="true"></span></a></td>
					</tr>
				</table>
      		</div>
      		<div class="col-md-3"></div>
      	</div>
      </div>
    </div>
    <div class="container">
      <div class="row" id="footer"></div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/commonHTML.js"></script>
    <script>
        getTop();
        getFooter();
    </script>
  </body>
</html>